{
  "openapi": "3.0.0",
  "info": {
    "title": "distribute.you MCP Service",
    "description": "MCP (Model Context Protocol) server for distribute.you. Exposes campaign management tools via MCP protocol over HTTP.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://mcp.distribute.you"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "distribute.you API key"
      }
    },
    "schemas": {
      "distribute_status": {
        "description": "Check the distribute.you connection status and configuration",
        "inputSchema": {
          "$ref": "#/definitions/distribute_status",
          "definitions": {
            "distribute_status": {
              "type": "object",
              "properties": {},
              "additionalProperties": false
            }
          },
          "$schema": "http://json-schema.org/draft-07/schema#"
        }
      },
      "distribute_list_workflows": {
        "description": "List all available workflows. Includes styled workflows written in the style of industry experts (e.g. Hormozi).",
        "inputSchema": {
          "$ref": "#/definitions/distribute_list_workflows",
          "definitions": {
            "distribute_list_workflows": {
              "type": "object",
              "properties": {
                "human_id": {
                  "type": "string",
                  "description": "Filter by human expert ID (for styled workflows)"
                }
              },
              "additionalProperties": false
            }
          },
          "$schema": "http://json-schema.org/draft-07/schema#"
        }
      },
      "distribute_list_campaigns": {
        "description": "List all your cold email campaigns",
        "inputSchema": {
          "$ref": "#/definitions/distribute_list_campaigns",
          "definitions": {
            "distribute_list_campaigns": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "ongoing",
                    "stopped",
                    "all"
                  ],
                  "description": "Filter by campaign status. `ongoing` is the vocabulary the platform stores — an unrecognised value is not refused, it is ignored, and the whole list comes back."
                }
              },
              "additionalProperties": false
            }
          },
          "$schema": "http://json-schema.org/draft-07/schema#"
        }
      },
      "distribute_campaign_stats": {
        "description": "Get statistics for a specific campaign",
        "inputSchema": {
          "$ref": "#/definitions/distribute_campaign_stats",
          "definitions": {
            "distribute_campaign_stats": {
              "type": "object",
              "properties": {
                "campaign_id": {
                  "type": "string",
                  "description": "Campaign ID to get stats for"
                }
              },
              "required": [
                "campaign_id"
              ],
              "additionalProperties": false
            }
          },
          "$schema": "http://json-schema.org/draft-07/schema#"
        }
      },
      "distribute_list_brands": {
        "description": "List all your brands (companies/websites you promote through campaigns)",
        "inputSchema": {
          "$ref": "#/definitions/distribute_list_brands",
          "definitions": {
            "distribute_list_brands": {
              "type": "object",
              "properties": {},
              "additionalProperties": false
            }
          },
          "$schema": "http://json-schema.org/draft-07/schema#"
        }
      },
      "distribute_suggest_icp": {
        "description": "Analyze a brand's website and suggest an Ideal Customer Profile (ICP). Use this when the user doesn't know who to target and wants AI-generated targeting suggestions. Returns a description of the ideal customers to aim a campaign at.",
        "inputSchema": {
          "$ref": "#/definitions/distribute_suggest_icp",
          "definitions": {
            "distribute_suggest_icp": {
              "type": "object",
              "properties": {
                "brand_url": {
                  "type": "string",
                  "description": "The brand/company URL to analyze for ICP extraction"
                }
              },
              "required": [
                "brand_url"
              ],
              "additionalProperties": false
            }
          },
          "$schema": "http://json-schema.org/draft-07/schema#"
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "service": {
                      "type": "string",
                      "example": "mcp-service"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "MCP JSON-RPC endpoint",
        "description": "Handles MCP protocol requests. Use mcp-session-id header for session management.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "mcp-session-id",
            "schema": {
              "type": "string"
            },
            "description": "Session ID (returned after first request)"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "tools/call"
                  },
                  "params": {
                    "type": "object"
                  },
                  "id": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response"
          }
        }
      },
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "MCP SSE endpoint for server notifications",
        "parameters": [
          {
            "in": "header",
            "name": "mcp-session-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream"
          }
        }
      },
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "Close MCP session",
        "parameters": [
          {
            "in": "header",
            "name": "mcp-session-id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session closed"
          }
        }
      }
    },
    "/mcp/tools/distribute_status": {
      "post": {
        "tags": [
          "MCP Tools"
        ],
        "summary": "Check the distribute.you connection status and configuration",
        "description": "MCP Tool: distribute_status. Call via JSON-RPC on /mcp with method \"tools/call\" and params.name=\"distribute_status\".",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp/tools/distribute_list_workflows": {
      "post": {
        "tags": [
          "MCP Tools"
        ],
        "summary": "List all available workflows. Includes styled workflows written in the style of industry experts (e.g. Hormozi).",
        "description": "MCP Tool: distribute_list_workflows. Call via JSON-RPC on /mcp with method \"tools/call\" and params.name=\"distribute_list_workflows\".",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "human_id": {
                    "type": "string",
                    "description": "Filter by human expert ID (for styled workflows)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp/tools/distribute_list_campaigns": {
      "post": {
        "tags": [
          "MCP Tools"
        ],
        "summary": "List all your cold email campaigns",
        "description": "MCP Tool: distribute_list_campaigns. Call via JSON-RPC on /mcp with method \"tools/call\" and params.name=\"distribute_list_campaigns\".",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "ongoing",
                      "stopped",
                      "all"
                    ],
                    "description": "Filter by campaign status. `ongoing` is the vocabulary the platform stores — an unrecognised value is not refused, it is ignored, and the whole list comes back."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp/tools/distribute_campaign_stats": {
      "post": {
        "tags": [
          "MCP Tools"
        ],
        "summary": "Get statistics for a specific campaign",
        "description": "MCP Tool: distribute_campaign_stats. Call via JSON-RPC on /mcp with method \"tools/call\" and params.name=\"distribute_campaign_stats\".",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaign_id": {
                    "type": "string",
                    "description": "Campaign ID to get stats for"
                  }
                },
                "required": [
                  "campaign_id"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp/tools/distribute_list_brands": {
      "post": {
        "tags": [
          "MCP Tools"
        ],
        "summary": "List all your brands (companies/websites you promote through campaigns)",
        "description": "MCP Tool: distribute_list_brands. Call via JSON-RPC on /mcp with method \"tools/call\" and params.name=\"distribute_list_brands\".",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp/tools/distribute_suggest_icp": {
      "post": {
        "tags": [
          "MCP Tools"
        ],
        "summary": "Analyze a brand's website and suggest an Ideal Customer Profile (ICP). Use this when the user doesn't know who to target and wants AI-generated targeting suggestions. Returns a description of the ideal customers to aim a campaign at.",
        "description": "MCP Tool: distribute_suggest_icp. Call via JSON-RPC on /mcp with method \"tools/call\" and params.name=\"distribute_suggest_icp\".",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brand_url": {
                    "type": "string",
                    "description": "The brand/company URL to analyze for ICP extraction"
                  }
                },
                "required": [
                  "brand_url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}